/*
    admin-styles.css
    
    This CSS file adds custom
    styles to the admin panel.
*/

h1#panel {
    text-align: center;
    font-size: 50px;
}
strong.info {
    color: #FFF;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #FC4A1A;
}
.input-clear {
    background: transparent;
    border: none;
}
.td_phone {
    width: 95px;
}
.input_email {
    width: 100%;
}
.td_email {
    width: 250px;
}